/* frontend/src/ImageManager.css */

.image-manager-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 50;
}

.image-manager-overlay > * {
  pointer-events: all;
}